<nav class="navbar navbar-light bg-light" style="background-color: rgb(221, 219, 219) !important;">
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
   <!--<img src="../../assets/image/Image.jpg" alt="Logo" width="120" height="75" class="d-inline-block align-text-top">-->
   <img src="/agendifive/agendamiento-app/assets/image/Image.jpg" alt="Logo" width="140" height="85" class="d-inline-block align-text-top">
  </a>
</nav>