<br/>
<br/>
<div class="container">
  <h2>Registro de Especialista</h2>
  <br/>
  <form [formGroup]="especialistaForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col">
        <div class="mb-3">
          <label for="identification" class="form-label">Identificación</label>
          <input type="text" class="form-control" id="identificationId" formControlName="identification" placeholder="Número de Identificación">
          <div *ngIf="especialistaForm.get('identification').invalid && especialistaForm.get('identification').touched" class="text-danger">
            La identificación es obligatoria.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="firstName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Nombre">
          <div *ngIf="especialistaForm.get('firstName').invalid && especialistaForm.get('firstName').touched" class="text-danger">
            El nombre es obligatorio.
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row g-3">
      <div class="col">
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Apellido">
          <div *ngIf="especialistaForm.get('lastName').invalid && especialistaForm.get('lastName').touched" class="text-danger">
            El apellido es obligatorio.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          </div>
          <div *ngIf="especialistaForm.get('email').invalid && especialistaForm.get('email').touched" class="text-danger">
            El email es obligatorio y debe tener un formato válido.
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row g-3">
      <div class="col">
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Telefono">
          <div *ngIf="especialistaForm.get('phone').invalid && especialistaForm.get('phone').touched" class="text-danger">
            El teléfono es obligatorio y debe ser un número de 10 dígitos.
          </div>
        </div>
      </div>
      <div class="col">
        
      </div>
    </div>
    <br/>
    <h3>Horario del Especialista</h3>
    <div formGroupName="schedules">
      <div class="row g-3">
        <div class="col">
          <div class="mb-3">
            <label for="dayOfWeek" class="form-label">Día de la Semana</label>
            <input type="text" class="form-control" id="dayOfWeek" formControlName="dayOfWeek" placeholder="Días de la semana en que trabaja">
            <div *ngIf="especialistaForm.get('schedules.dayOfWeek').invalid && especialistaForm.get('schedules.dayOfWeek').touched" class="text-danger">
              El día de la semana es obligatorio.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="startTime" class="form-label">Hora de Inicio</label>
            <input type="time" class="form-control" id="startTime" formControlName="startTime">
            <div *ngIf="especialistaForm.get('schedules.startTime').invalid && especialistaForm.get('schedules.startTime').touched" class="text-danger">
              La hora de inicio es obligatoria.
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row g-3">
        <div class="col">
          <div class="mb-3">
            <label for="endTime" class="form-label">Hora de Fin</label>
            <input type="time" class="form-control" id="endTime" formControlName="endTime">
            <div *ngIf="especialistaForm.get('schedules.endTime').invalid && especialistaForm.get('schedules.endTime').touched" class="text-danger">
              La hora de fin es obligatoria.
            </div>
          </div>
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="especialistaForm.invalid">Registrar Especialista</button>
    </div>
  </form>
  <app-agendamiento-modal #modal></app-agendamiento-modal>
</div>