<!-- agendamiento-modal.component.html -->
<div class="modal fade" id="citaModal" tabindex="-1" aria-labelledby="citaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="citaModalLabel">¡Cita Agendada!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          La cita ha quedado agendada de forma exitosa. 
          ¡Gracias por agendar con nosotros!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  